:root {
  --text-color: grey;
  --secondary-color: rgb(230, 228, 228);
  --adalab-colot: aquamarine;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.title {
  font-size: 3rem;
  color: var(--text-color);
}
.title::first-letter {
  text-transform: capitalize;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.label {
  font-size: 2.4rem;
  color: var(--text-color);
}
.label::first-letter {
  text-transform: capitalize;
}
.number {
  width: 180px;
  height: 30px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: var(--text-color);
  padding-left: 10px;
}
.btn,
.reset {
  width: 80px;
  height: 30px;
  background-color: var(--adalab-colot);
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: var(--text-color);
}
.reset {
  position: relative;
  bottom: 45px;
  left: 100px;
  background-color: var(--secondary-color);
  margin-bottom: -25px;
}

.result {
  height: 35px;
  max-width: 500px;
  border: solid 2px var(--secondary-color);
  margin: 10px 0;
  padding: 6px 0 0 10px;
}
.result p {
  font-size: 1.5rem;
  color: var(--text-color);
}
